@use "./styles/main.scss" as *;

.container {
  display: grid;
  gap: 2rem;
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 5rem;

  @include mq("md") {
    grid-template-columns: 2fr 1fr;
  }
}

.dessertsContainer {
  display: grid;
  gap: 2rem;
}

.title {
  font-size: 2.5rem;
}

.cartContainer {
  background-color: $clr-secondary-50;
  padding: 2rem;
  border-radius: 1rem;
  align-self: start;
}
